/* Add hover effect to the product card */

#product-cards .card:hover {
  transform: scale(1.05); /* Increase size on hover */
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
}

/* Style the product cards */
#product-cards .card {
  border-radius: 50%;/* Rounded corners */
  overflow: hidden; /* Hide overflow content */
  margin: 10px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

/* Style the product card images */
#product-cards .card img {
  width: 100%;
  border-radius: 50%;
  max-height: 40vh; /* Limit the image height */
  object-fit: cover; /* Maintain aspect ratio and cover the card */
}

/* Style the product card title */
#product-cards h5 {
  color: black;
  font-weight: bold;
  font-size: 18px; /* Decrease the font size for better readability */
  padding: 15px; /* Add padding */
}

/* Style the button */
#product-cards .btn {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease-in-out;
}

/* Add hover effect to the button */
#product-cards .btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.05); /* Increase size on hover */
}
